<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Daily Moon</h1>
    <a href="{% url 'visitor-book' %}">방명록 남기기</a>
    <ul>
        <li>2023.07.08(토)</li>
        <p>울릉도로 여행을 가는 날이다. 묵호항에서 출발하는 배를 타기 위해 친구 차를 타고 갔는데
            중간에 휴게소를 들르지 않았는데도 무려 3시간이 조금 넘게 걸렸다. 아침 8시 10분 배를 탔는데
            처음에는 재미있었지만 10분이 채 지나지 않아 배 멀미를 했다. 멀미약을 먹긴 했는데 너무 늦게 먹은 건지 
            다 토했다. 다시는 배를 타지 않기로 다짐했다. 그리고 배 안이 너무 추웠다. 울릉도에 도착하니 비가 내리고 있어서
            더 추웠다. 결국 우리는 렌터카를 하기로 했다. 멋진 자연 경관에 놀랐고 점차 텐션이 올라서 힘들지만 재미있는 하루를 보냈다.
        </p>
        <li>2023.07.09(일)</li>
        <p>울릉도에서의 둘째날이다. 비가 올 거라는 기상예보와는 달리 날씨가 아주 좋았다. 나리분지를 맨 처음으로 갔는데
            울릉도에서 유일한 평지라고 했다. 근처에서 점심으로 산채비빔밥을 먹었는데 너무 맛있었다. 특히나 야외에서 먹으니 더 맛있었던
            것 같다.
        </p>
    </ul>
</body>
</html>