<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LikeLion 11기 아기사자 문유진</title>
</head>
<body>
    <h1>My Study</h1>
    <div>
        <h3>1. 영어 회화 스터디</h3>
        <ul>
            <li>빈도: 1주일에 1번</li>
            <li>시간: 약 2시간</li>
            <li>방법: 각자 질문을 2~3개 준비해와서 그 질문에 대답하기</li>
            <li>예시: What did you do last weekend?</li>
            <li>인원: 4~5명</li>
        </ul>
    </div>
    <div>
        <h3>2. 알고리즘 스터디</h3>
        <ul>
            <li>빈도: 1주일에 1번</li>
            <li>시간: 마감 기한까지 문제 풀기</li>
            <li>방법: 풀 문제 유형을 정해서 그와 관련된 문제를 각자 1개씩 찾아오면 1주일 동안 그 문제들을 풀기</li>
            <li>예시: 주제가 스택이라면 스택과 관련 문제 찾아와서 공유하면 그 문제를 1주일 동안 풀기</li>
            <li>인원: 4~5명</li>
        </ul>
    </div>
</body>
</html>